<div class="card" style="width: 100%;">
<h2>{{ isEdit ? 'Edit' : 'Create' }} Part</h2>

<div *ngIf="errorMessages.length">
<div *ngFor="let msg of errorMessages" style="color: red;">{{msg}}</div>
</div>

<form class="form-inline" (ngSubmit)="save()" #f="ngForm">
<label>Part Number:</label>
<input type="text" class="form-control" [(ngModel)]="part.partNumber" name="partNumber" [readonly]="isEdit" required>

<label>Description:</label>
<input type="text" class="form-control" [(ngModel)]="part.description" name="description" required>

<label>Quantity On Hand:</label>
<input type="number" class="form-control" [(ngModel)]="part.quantityOnHand" name="quantityOnHand" min="0" required>

<label>Location Code:</label>
<input  type="text" class="form-control" [(ngModel)]="part.locationCode" name="locationCode" required>

<label>Last Stock Take:</label>
<input type="datetime-local" class="form-control" [(ngModel)]="part.lastStockTake" name="lastStockTake" required>
<br>
<button class="btn btn-success" type="submit">Save</button> |
<button class="btn btn-danger btn-sm"  (click)="router.navigate(['/'])" type="button">Cancel</button>
</form>
</div>